<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <!-- <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
      </ol> -->
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag "slide_1.png", alt: "First slide" %>
          <div class="container">
            <div class="carousel-caption">
              <h1>LET'S CLIMB TOGETHER</h1>
              <p>A Digital Agency Who's Values Are Founded On Those Needed To Climb Mt. Everest</p>
              <p><a class="btn btn-lg btn-primary" href="#form" role="button"><i class = "animated fadeOut"><i class = "fa fa-microphone"></i></i> Contact Base Camp Now</a></p>  
            </div>
          </div>
        </div> 
        
    </div><!-- /.carousel -->